.home-page {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  color: var(--text-color);
  overflow: auto;
}

.text-container {
  max-width: 50%;
  min-width: min-content;
  padding: 10px;
  margin: 10px;
}
.text-container span {
  color: var(--orange);
  font-style: italic;
  font-family: "Single Day", cursive;
}
.text-container h1,
h2 {
  line-height: 50px;
}
.btn {
  background-color: var(--orange);
  color: var(--text-color);
  padding: 8px;
  font-size: 14px;
  border: none;
  border-radius: 30px;
  margin-top: 10px;
  cursor: pointer;
  opacity: 100%;
  font-family: "Single Day", cursive;
  animation: btn 0.8s ease-in 1 forwards;
}
.text-container .btn {
  margin-top: 20px;
}
@keyframes btn {
  00% {
    transform: translateY(-100%);
    opacity: 0%;
  }
}
.btn:active {
  transform: scale(95%);
}

.photo-container {
  position: relative;
  margin: 10px;
  user-select: none;
}
#temp-container-parent {
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  border-radius: 10px;
}
.photo-container::after {
  content: "";
  position: absolute;
  height: 25%;
  width: 25%;
  /* top: -10%;
  left: -10%; */
  border-top: 6px solid var(--orange);
  border-left: 6px solid var(--orange);
  animation: p_topLeft 1s ease 1 forwards;
}
@keyframes p_topLeft {
  from {
    top: -20%;
    left: -20%;
    opacity: 50%;
  }
  to {
    opacity: 100%;
    top: -10%;
    left: -10%;
  }
}
.photo-container::before {
  content: "";
  position: absolute;
  height: 25%;
  width: 25%;
  /* bottom: -10%;
  right: -10%; */
  border-bottom: 6px solid var(--orange);
  border-right: 6px solid var(--orange);
  animation: p_topRight 1s ease 1 forwards;
}
@keyframes p_topRight {
  from {
    bottom: -20%;
    right: -20%;
    opacity: 50%;
  }
  to {
    opacity: 100%;
    bottom: -10%;
    right: -10%;
  }
}
#profile_photo {
  width: 300px;
  border-radius: 10px;
  transition: 0.5s ease;
  animation: img_zoom 0.8s ease 1 forwards;
}
@keyframes img_zoom {
  from {
    transform: scale(50%);
  }
  to {
    transform: scale(100%);
  }
}
#profile_photo:hover {
  transition: 1s ease;
  transform: scale(115%);
}

/* Responsive Section */
@media screen and (max-width: 1425px) {
  #profile_photo {
    height: 250px;
    width: 250px;
  }
  .text-container h1 {
    font-size: 20px;
    line-height: 45px;
  }
  .text-container h2 {
    font-size: 18px;
    line-height: 45px;
  }
}
@media screen and (max-width: 1000px) {
  #profile_photo {
    height: 230px;
    width: 230px;
  }
  ul li span {
    display: none;
    transition: all 0.5s ease;
  }
  ul li a {
    font-size: 25px;
    transition: all 0.5s ease;
  }
  ul li {
    text-align: center;
    transition: all 0.5s ease;
  }
  .portfolio-container {
    font-size: 22px;
  }
  .text-container h1 {
    font-size: 20px;
    line-height: 40px;
  }
  .text-container h2 {
    font-size: 18px;
    line-height: 40px;
  }
}

@media screen and (max-width: 950px) {
  .text-container h1 {
    font-size: 18px;
  }
  .text-container h2 {
    font-size: 17px;
  }
  .text-container p {
    font-size: 15px;
  }
}
@media screen and (max-width: 850px) {
  .home-page {
    flex-direction: column-reverse;
  }
  .text-container {
    max-width: 90%;
  }
  .text-container h1 {
    font-size: 20px;
  }
  .text-container h2 {
    font-size: 19px;
  }
  .text-container p {
    font-size: 17px;
  }
}
@media screen and (max-width: 700px) {
  .slider {
    transition: 0.5s ease;
    display: none;
  }
  .home-page {
    width: 100%;
    margin: 0;
  }
  .text-container {
    max-width: 80%;
  }
  .text-container {
    font-size: large;
  }
  .bars-container {
    display: inline;
    color: var(--text-color);
  }
}
/* Mboile screen responsive */
@media screen and (max-width: 550px) {
  #profile_photo {
    height: 180px;
    width: 180px;
  }
  .text-container {
    width: 100%;
    margin: 0;
    margin-top: 10px;
  }
  .text-container h1 {
    font-size: 20px;
  }
  .text-container h2 {
    font-size: 19px;
  }
  .text-container p {
    font-size: 17px;
  }
}
@media screen and (max-width: 420px) {
  #profile_photo {
    height: 135px;
    width: 135px;
  }
  .text-container {
    width: 100%;
    margin: 0;
    margin-top: 10px;
  }
  .text-container h1,
  h2 {
    font-size: 15px;
    line-height: 20px;
  }

  .text-container p {
    font-size: 12px;
  }
  .bars-container {
    font-size: 20px;
  }
  .btn {
    font-size: 12px;
    padding: 5px;
  }
}
