:root {
  --orange: #ee6807;
  --background-dark: #151515;
  --background-slider: #222222;
  --text-color: white;
  --darker-text: rgb(172, 172, 172);
  --shadow: 14px 1px 40px -4px rgba(0, 0, 0, 1);
  --shadow-dark: 11px -1px 20px 0px rgba(0, 0, 0, 1);
  --shadow-light: 12px -8px 20px 2px rgb(37 37 37);
}
* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

*::-webkit-scrollbar {
  display: none;
}
body {
  background-color: var(--background-dark);
  overflow-x: hidden;
}

a {
  text-decoration: none;
}

button {
  user-select: none;
}
