.slider {
  height: 100%;
  width: 20%;
  background-color: var(--background-slider);
  box-shadow: var(--shadow);
  transition: 0.5s ease;
  user-select: none;
  flex-shrink: 0;
}
.slideActive {
  background-color: red;
  transform: translateX(0%);
}
nav {
  flex-direction: column;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}
ul .active li {
  text-decoration: none;
  color: var(--orange);
}
ul li {
  margin: 30px 5px;
  text-align: left;
  list-style: none;
  transition: transform 0.5s;
  position: relative;
  cursor: pointer;
}

ul li::after {
  content: "";
  position: absolute;
  background-color: var(--orange);
  width: 0%;
  height: 0%;
  bottom: -5px;
  left: 0;
  transition: 0.35s ease;
}
ul li:hover::after {
  height: 3px;
  width: 100%;
  transition: width 0.4s ease;
}

ul li:hover {
  transform: scale(1.05);
  transition: scale 0.4s;
}
ul li:active {
  transform: scale(100%);
}

ul li {
  font-size: 18px;
  font-weight: 600;
  color: var(--text-color);
  transition: all 0.5s ease;
}
ul li span {
  margin: 10px;
  transition: all 0.5s ease;
}

/* this is portfolio logo section */

.portfolio-container {
  position: absolute;
  top: 6%;
  font-size: 26px;
  color: var(--text-color);
  transition: 0.5s ease;
}
.portfolio-container span {
  font-family: "Clicker Script", cursive;
}
.portfolio-container:hover {
  transform: scale(110%);
  transition: 0.5s ease;
}
.portfolio-container::after {
  content: "";
  position: absolute;
  height: 50%;
  width: 20%;
  top: -20%;
  right: -18%;
  border-top: 4px solid var(--orange);
  border-right: 4px solid var(--orange);
}
.portfolio-container::before {
  content: "";
  position: absolute;
  height: 50%;
  width: 20%;
  bottom: -20%;
  left: -18%;
  border-bottom: 4px solid var(--orange);
  border-left: 4px solid var(--orange);
}
