.theme-container {
  font-size: 20px;
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 999;
  top: 4%;
  right: 3%;
  background-color: var(--background-dark);
  border-radius: 100%;
  padding: 15px;
  overflow: hidden;
  box-shadow: 8px 2px 20px 2px rgba(0, 0, 0, 1);
}
.theme-container i {
  position: absolute;
  color: var(--text-color);
  cursor: pointer;
}
.theme-container .fa-sun:active {
  transform: rotate(360deg);
  transition: 0.5s ease;
}
.theme-container .fa-moon:active {
  transform: scale(200%);
  transition: 0.2s ease;
}
